In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

from matplotlib import pyplot as plt
from shapely.geometry import Point, Polygon
from ipywidgets import interact, FloatSlider, IntRangeSlider, IntSlider

In [2]:
wrecks_df = pd.read_excel("data/shipwrecks_with_bermuda.xlsx")
wrecks_df

,date,lat,lon,near,in_bermuda
0,1996-05-13 05:50:00,40.876665,-91.031665,United States of America,False
1,1996-05-13 05:50:01,40.876665,-91.031665,United States of America,False
2,1996-05-13 05:50:01,40.876665,-91.031665,United States of America,False
3,1996-05-13 05:50:02,40.876665,-91.031665,United States of America,False
4,1996-05-13 05:50:02,40.876665,-91.031665,United States of America,False
...,...,...,...,...,...
106261,2015-06-22 14:10:01,37.310490,-89.513615,United States of America,False
106262,2015-06-22 16:35:00,25.760800,-79.956670,United States of America,True
106263,2015-06-22 16:35:00,25.760800,-79.956670,United States of America,True
106264,2015-06-24 13:52:00,29.732314,-95.127879,United States of America,False
106265,2015-06-24 13:53:00,29.732314,-95.127879,United States of America,False

In [3]:
wrecks_gdf = gpd.GeoDataFrame(
    wrecks_df,
    geometry=gpd.points_from_xy(wrecks_df.lon, wrecks_df.lat),
    crs="EPSG:4326"
)
wrecks_gdf

,date,lat,lon,near,in_bermuda,geometry
0,1996-05-13 05:50:00,40.876665,-91.031665,United States of America,False,POINT (-91.03166 40.87666)
1,1996-05-13 05:50:01,40.876665,-91.031665,United States of America,False,POINT (-91.03166 40.87666)
2,1996-05-13 05:50:01,40.876665,-91.031665,United States of America,False,POINT (-91.03166 40.87666)
3,1996-05-13 05:50:02,40.876665,-91.031665,United States of America,False,POINT (-91.03166 40.87666)
4,1996-05-13 05:50:02,40.876665,-91.031665,United States of America,False,POINT (-91.03166 40.87666)
...,...,...,...,...,...,...
106261,2015-06-22 14:10:01,37.310490,-89.513615,United States of America,False,POINT (-89.51362 37.31049)
106262,2015-06-22 16:35:00,25.760800,-79.956670,United States of America,True,POINT (-79.95667 25.7608)
106263,2015-06-22 16:35:00,25.760800,-79.956670,United States of America,True,POINT (-79.95667 25.7608)
106264,2015-06-24 13:52:00,29.732314,-95.127879,United States of America,False,POINT (-95.12788 29.73231)
106265,2015-06-24 13:53:00,29.732314,-95.127879,United States of America,False,POINT (-95.12788 29.73231)

In [4]:
countries = gpd.read_file("data/natural_earth/ne_110m_admin_0_countries/ne_110m_admin_0_countries.shp")
countries

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,1,6,Fiji,FJI,0,2,Sovereign country,1,Fiji,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((180 -16.06713, 180 -16.55522, ..."
1,Admin-0 country,1,3,United Republic of Tanzania,TZA,0,2,Sovereign country,1,United Republic of Tanzania,...,None,None,None,None,None,None,None,None,None,"POLYGON ((33.90371 -0.95, 34.07262 -1.05982, 3..."
2,Admin-0 country,1,7,Western Sahara,SAH,0,2,Indeterminate,1,Western Sahara,...,Unrecognized,Unrecognized,Unrecognized,None,None,Unrecognized,None,None,None,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Admin-0 country,1,2,Canada,CAN,0,2,Sovereign country,1,Canada,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84 49, -122.97421 49.0025..."
4,Admin-0 country,1,2,United States of America,US1,1,2,Country,1,United States of America,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84 49, -120 49, -117.0312..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Admin-0 country,1,5,Republic of Serbia,SRB,0,2,Sovereign country,1,Republic of Serbia,...,None,None,None,None,None,None,None,None,None,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,Admin-0 country,1,6,Montenegro,MNE,0,2,Sovereign country,1,Montenegro,...,None,None,None,None,None,None,None,None,None,"POLYGON ((20.0707 42.58863, 19.80161 42.50009,..."
174,Admin-0 country,1,6,Kosovo,KOS,0,2,Disputed,1,Kosovo,...,Admin-0 country,Unrecognized,Admin-0 country,Unrecognized,Admin-0 country,Admin-0 country,Admin-0 country,Admin-0 country,Unrecognized,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,Admin-0 country,1,5,Trinidad and Tobago,TTO,0,2,Sovereign country,1,Trinidad and Tobago,...,None,None,None,None,None,None,None,None,None,"POLYGON ((-61.68 10.76, -61.105 10.89, -60.895..."
176,Admin-0 country,1,3,South Sudan,SDS,0,2,Sovereign country,1,South Sudan,...,None,None,None,None,None,None,None,None,None,"POLYGON ((30.83385 3.50917, 29.9535 4.1737, 29..."

In [5]:
bermuda_triangle = gpd.GeoDataFrame(
    {"name": ["Bermuda Triangle"]},
    geometry=[Polygon([(-80.19, 25.774), (-66.105, 18.466), (-64.75, 32.3078)])], # NOTE: (lon, lat) pairs
    crs="EPSG:4326",
)

In [6]:
def proportion_grid(xx: np.ndarray, yy: np.ndarray, years: tuple[int, int], k: int = 10, max_dist: float = 2.) -> np.ndarray:
    wx = wrecks_gdf.geometry.x.values
    wy = wrecks_gdf.geometry.y.values
    w_years = wrecks_gdf.date.dt.year.values
    
    n_wrecks = len(wrecks_gdf)
    if k > n_wrecks:
        k = n_wrecks
    
    X_flat = xx.ravel()[:, np.newaxis]
    Y_flat = yy.ravel()[:, np.newaxis]
    
    wx_flat = wx[np.newaxis, :]
    wy_flat = wy[np.newaxis, :]
    
    dists_sq = (X_flat - wx_flat)**2 + (Y_flat - wy_flat)**2
    
    nearest_indices = np.argpartition(dists_sq, k - 1, axis=1)[:, :k]
    
    nearest_dists_sq = np.take_along_axis(dists_sq, nearest_indices, axis=1)
    nearest_years = w_years[nearest_indices]
    
    t_min, t_max = years
    dist_mask = dist_mask = nearest_dists_sq <= (max_dist ** 2)
    time_mask = (t_min <= nearest_years) & (nearest_years <= t_max)
    in_window = (dist_mask & time_mask).sum(axis=1)
    nn = dist_mask.sum(axis=1)
    
    prop = np.divide(
        in_window, 
        nn, 
        out=np.zeros_like(in_window, dtype=float), 
        where=0 < nn
    )
    
    return prop.reshape(xx.shape)

In [ ]:
def inspect_map(lat: float, lon: float, zoom: float, wrecks: bool, years: tuple[int, int], triangle: bool, overlay: bool, smooth: bool, k_nearest: int, max_dist: float, resolution) -> None:
    margin = 100. * (1 / zoom)
    x_min = lon - margin; x_max = lon + margin
    y_min = lat - margin; y_max = lat + margin

    fig, ax = plt.subplots(figsize=(12,12))
    ax.set_xlim(x_min, x_max)
    ax.set_ylim(y_min, y_max)
    ax.set_axis_off()

    if overlay:
        grid_x, grid_y = np.meshgrid(
            np.linspace(x_min, x_max, resolution),
            np.linspace(y_min, y_max, resolution)
        )
        prop_grid = proportion_grid(grid_x, grid_y, years, k=k_nearest, max_dist=max_dist)
        ax.imshow(
            prop_grid,
            extent=(x_min, x_max, y_min, y_max),
            origin="lower",
            cmap="coolwarm",
            alpha=0.6,
            interpolation="quadric" if smooth else "none"
        )
    
    countries.plot(ax=ax, facecolor="teal", edgecolor="black", linewidth=0.1)
    
    if triangle:
        bermuda_triangle.boundary.plot(ax=ax, color="black", linewidth=0.5 * zoom)

    if wrecks:
        min_year, max_year = years
        pts = wrecks_gdf
        pts = pts.cx[x_min:x_max, y_min:y_max]
        pts = pts[(pts.date.dt.year >= min_year) & (pts.date.dt.year <= max_year)]
        pts.plot(
            ax=ax, 
            color="crimson", 
            markersize=1 * zoom, 
            alpha=.6
        )
    
    plt.show()

min_years = wrecks_df.date.dt.year.min()
max_years = wrecks_df.date.dt.year.max()
interact(
    inspect_map, 
    lat=FloatSlider(min=-90., max=+90., step=5., value=+25.), 
    lon=FloatSlider(min=-180., max=+180., step=5., value=-75.), 
    zoom=FloatSlider(min=0.01, max=+10., step=0.1, value=4.71),
    wrecks=True,
    years=IntRangeSlider(min=min_years, max=max_years, step=1, value=(2010, max_years)),
    triangle=True,
    overlay=True,
    smooth=False,
    k_nearest=IntSlider(min=1, max=50, step=1, value=20),
    max_dist=FloatSlider(min=0.1, max=10., step=0.1, value=2.),
    resolution=IntSlider(min=10, max=100, step=10, value=50)
);

interactive(children=(FloatSlider(value=25.0, description='lat', max=90.0, min=-90.0, step=5.0), FloatSlider(v…

In [8]:
wrecks_df[["lat", "lon", "date"]].to_csv(f"worldmap-site/data/wrecks.csv", index=False)
countries.to_file(f"worldmap-site/data/countries.json", driver="GeoJSON")